
.o_survey_kanban_card_ungrouped {
    .ribbon {
        // Desktop: finishes on next kanban card line
        height: 100px;
        width: 125px;

        // Mobile: is in a corner, takes more place
        @include media-breakpoint-down(md) {
            height: 100px;
            width: 125px;
        }

        &-top-right {
            top: 25px;

            &:after {
                display: none;
            }

            & span {
                left: 26px;
                top: 4px;
            }
        }

        & span {
            font-size: 0.9rem;
            width: 130px;
            height: 32px;
        }
    }
}
